@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description1 {
    margin-bottom: 5rem;
    padding: 2rem;
    font-size:20px;
    width: 82%;
    height: 60%;
}

.description2{
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 5rem;
}
.description2P{
    font-weight: 600;
    font-size: 22px;
}
p {
   text-align: center;
}

.areas {
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 28pt;
    color: black;
    font-weight: 900;
    border: none;
}

.div4p {
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 5em;
    border-radius: 30px;
    margin-bottom: 5rem;
}
h3 {
    font-size: x-large;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #00fff5;
    line-height: 28pt;
}
.divp {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background:linear-gradient(to top ,rgba(255, 255, 255, 0.156), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 6px;
    height: auto;
    padding: 20px;
    width: 100%;
}
.divp p{
    text-align: justify;
    font-weight: 500 ;
}
.divej{
    width:80%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 70px;
    font-weight: 900;
}


.areaContain{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}