.max-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    margin: 55px;
    text-align: center;
}

.intro-text {
    margin: 50px;
}


.title {
    margin: 15px;
    text-decoration: red;
}

.ventajas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.ventaja {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background:linear-gradient(135deg,rgba(255, 255, 255, 0.156), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    width: 450px;
    height: 200px;
    margin: 15px;
}