.container-swiper-equipo{
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 2%;
}


.swiper {
    width: 80%;
    height: 100%;
    display: flex;
  }

  .swiperEquipo {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-equipo-container{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid red;
    background:linear-gradient(135deg,rgba(55, 55, 55, 0.599), rgba(0, 208, 255, 0.131), rgba(0, 217, 255, 0.411));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: solid 1px rgba(222, 218, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border-radius: 20px;
  }

  .imagen-equipo-container{
    background:linear-gradient(180deg,rgba(55, 55, 55, 0.599), rgba(0, 208, 255, 0.131), rgba(0, 217, 255, 0.257));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: solid 1px rgba(222, 218, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border-radius: 20px;
  }

  .avatar-equipo{
    width: 250px;
  }

  .text-card-equipo{
    height: 250px;
  }

  .nombre-card-equipo{
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .text-card-description{
    margin: 10px;
    margin-bottom: 15px;
  }

  .button-linkedin-equipo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color:#0e76a8;
    width: 30%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }


  
  
  
  

  
  
  
  
  
  
  
  
  /* MOBIL */
  
    
    #swiper {
        width: 320px;
    }
    
    #swiper-slide {
        width: 320px;
    }
    
    
    .mySwiperEquipoWeb{
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }
    
    #mobileEquipo{
        margin: auto;
        width: 400px;
    }

    .mySwiperEquipoMobile{
        display: none;
    }
    #titleEquipoMobile{
        display: none;
    }
    
    
    @media(max-width:1570px){
      .mySwiperEquipoWeb{
          display: none;
      }
      .mySwiperEquipoMobile{
          display: flex;
          justify-content: center;
      }
      
    }

    
    @media(max-width:470px){
        #mobileEquipo{
            width: 320px;
        }
        .text-card-equipo{
            height: 300px;
        }
    }
    
    
    