/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Kanit', sans-serif; */
  color: white;
}

.app{
  position: sticky;
  background-image: url('./assets/bgTictoe1.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.585); 
}

