/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Kanit', sans-serif; */
  color: white;
}

body{
  background-image: url('./assets/gif1.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.585); 
  height: 100vh;
}

.subContainer {
  background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.719), #0f3939);
  margin-top: -20px;
}